<div class="card">
  <a href="#">
    <img
      src="https://media.istockphoto.com/id/1399395748/pt/foto/cheerful-business-woman-with-glasses-posing-with-her-hands-under-her-face-showing-her-smile-in.jpg?s=612x612&w=0&k=20&c=V2hdZm-cPTPXYT4U7VEsXr9M4CR3QqxOCMY_2qqJQAI="
      alt=""
    />
    <span>Phoenix Baker • 19 Jan 2023</span>
    <div class="title__link">
      <h2>Migrating to Linear 101</h2>
      <img src="/assets/images/icons/link.svg" alt="" />
    </div>
    <p>
      Linear helps streamline software projects, sprints, tasks, and bug
      tracking. Here's how to get started.
    </p>
  </a>

  <div class="tags">
    <a href="#">Product</a>
    <a href="#">Tools</a>
    <a href="#">SaaS</a>
  </div>
</div>
