<header>
  <div class="container container__header">
    <img src="/assets/images/logo.svg" alt="Logo enneCode" class="logo__mobile">
    <nav>
      <ul>
        <li><img src="/assets/images/logo.svg" alt="Logo enneCode"></li>
        <li><a href="">Home</a></li>
        <li><a href="">Produtos</a></li>
        <li><a href="">Recursos</a></li>
        <li><a href="">Preço</a></li>
      </ul>
    </nav>


    <div class="links__buttons">
      <a href="">Log in</a>
      <a href="">Sign Up</a>
    </div>
  </div>
</header> 

