<main>
  <section>
    <div class="container">
      <div class="content__hero">
        <span>The blog</span>
        <div class="content__title">
          <img src="../../../assets/images/icons/stick-title.png" alt="" />
          <h1>Writings from uor team</h1>
        </div>
        <p>The latest industry news, interviews, technologies, and resources</p>
      </div>

      <div class="blog__hero">
        <a href="#" class="content__home">
          <img src="/assets/images/hero_image.png" alt="" />

          <div class="blog__hero__content">
            <span>Olivia Rhye • 20 Jan 2022</span>
            <h2>Ux review presentations</h2>
            <p>
              How do you create compelling presentations that wow your
              colleagues and impress your managers?
            </p>

            <div class="tags">
              <a href="#">Design</a>
              <a href="#">Research</a>
              <a href="#">Presentation</a>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="container most__articles">
    <h2>Most Articles</h2>
    <div class="container__cards">
      <app-card-article></app-card-article>
      <app-card-article></app-card-article>
      <app-card-article></app-card-article>
    </div>
  </section>
</main>
<app-footer></app-footer>
